asgiref==3.2.3
Django==1.11
django-crispy-forms==1.9.0
gunicorn==20.0.4
numpy==1.18.1
opencv-python==4.2.0.32
Pillow==7.0.0
pypng==0.0.20
PyQRCode==1.2.1
pytz==2019.3
pyzbar==0.1.8
sqlparse==0.3.0
virtualenv==16.7.9
