.middle{
	margin-top:150px;
	margin-left:400px;
}

.form-group{
	color:black;
	font-weight:bold;
}

.form-group1 .tests{
	color:red;
	font-weight:bold;
	margin-left: 10px;
}

.form-group1 .teste{
	color:red;
	font-weight:bold;
	margin-left: 40px;
}

.button{
	background-color:#007bff;
	margin-left: 140px;
    width: 150px;
    border-radius: 25px;
    font-weight: bold;
	height:50px;
}

.content-wrapper{
	margin-left:100px;
	margin-top:100px;
}

.form-controls{
	width:300px;
	border-radius:10px;
}

h2 .mb-4{
	width:100px;
	
}

.modal-titles{
	margin-left: 200px;
    color: black;
    font-weight: bold;
}

.modal-titles1{
	margin-left: 160px;
    color: black;
    font-weight: bold;
}

.qrcode{
	margin-left:150px;
}

.raw{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center;
	margin-left:100px;
}

h1, .hhh {
    text-align:center;
	font-size:30px;
}

.page-wrap {
    left: 0;
    margin-left: 230px;
    padding-top: 50px;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    margin-top: -30px;
}

.resume{
	justify-content:center;
}